/* Header */
.header {
    display: grid;
    grid-template-columns: 70px 230px 1fr;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #dc4c3e;
    color: #ffffff;
    width: 100%;
    height: 50px;
    z-index: 999;
}

.header div {
    display: flex;
    align-items: center;
    width: fit-content;
}

.menu {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 3px;
    margin-left: 20px;
    border-radius: 3px;
    transition: background-color 100ms;
}

.menu:hover {
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.10);
}

#menu-toggle {
    display: none;
}

.header:has(#menu-toggle:not(:checked)) + .nav {
    display: none;
}

.search-bar {
    width: 100%;
}

.search-bar input {
    position: relative;
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 10px 10px 36px;
    width: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color 100ms;
}

.search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.search-bar input:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.search-bar input:focus {
    background-color: rgba(255, 255, 255, 0.25);
}

.search-bar .icon {
    position: absolute;
    margin-left: 5px;
}

.task-counter {
    justify-self: flex-end;
    margin-right: 20px;
    gap: 2px;
}