* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

#root {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100vh;
  color: black;
}

ul {
    list-style-type: none;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}