.task-item {
  padding: 8px 0;
  border-bottom: solid 1.5px #eee;
}

.task-input {
  display: none;
}

.task-description {
  display: block;
  line-height: 24px;
  cursor: pointer;
}

.task-description::before { /* styling the checkbox */
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 4px;
  border-radius: 15px;
  margin-right: 10px;
  border: solid 1px #7e7d79;
}

.task-input[type="checkbox"]:checked + .task-description::before { /* style the radio-checkbox when checked */
  width: 15px;
  height: 15px;
  background-color: #dc4c3e;
  border-color: #dc4c3e;
  outline: solid 1.5px white;
  outline-offset: -2.5px;
}

.task-input[type="checkbox"]:checked +  .task-description {
  color: #7e7d79;
  text-decoration: line-through;
  text-decoration-color: #dc4c3e;
}

.delete-task-button {
  position: absolute;
  right: 40px;
  margin-top: -24px;
  padding: 0 8px;
  height: 24px;
  border: solid 1px #7e7d79;
  background-color: white;
}

.delete-task-button:hover {
  cursor: pointer;
  background-color: #dc4c3e;
  border-color: #dc4c3e;
  color: white;
}

/* Nav + Inbox Connection */
.today {
  display: block; /* we'll set display to block based on which nav is active */
}

.upcoming {
  display: none; /* we'll set display to block based on which nav is active */
}